/* Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Main styles */

body {
	background-color: #dfdfdf;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #292f36;
}

a {
	color: #3e78b2;
	text-decoration: none;
	transition: all .5s ease;
}
a:hover {
	color: #23568a;
	text-decoration: none;
}

.btn {
	padding: 1em 2em;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
	display: inline-block;
}

.container {
	width: 94%;
	margin: auto;
	max-width: 800px;
}

/* Color Classes */

.text-white { color: #fff !important; }

.bg-primary { background-color: #3e78b2; }
a.bg-primary:hover { background-color: #23568a; }

.bg-success { background-color: #4dcc82; }
a.bg-success:hover { background-color: #1ba053; }

.bg-danger { background-color: #ff6b6b; }

/* Header */
.navbar { 
	padding: 1em 2em; 
	position: relative;
	z-index: 10;
	box-shadow: 1px 5px 10px rgba(0,0,0,.15);
}

.logo-text {
	font-weight: bold;
	font-size: 1.2em;
}

nav {
	position: absolute;
	right: 2em;
	top: 50%;
	transform: translateY(-50%);
}

.nav-list { 
	text-align: right;
	list-style: none;
}

.nav-list li {
	display: inline-block;
	margin-left: 1em;
}

.nav-list li .nav-item {
	color: #fff;
}

.nav-list li .nav-item:hover {
	color: #292f36;
}

/* Landing Page Styling */

.landing {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.7)), url(assets/images/landing.jpg) no-repeat center / cover;
	height: calc(100vh - 58px);
	min-height: 500px;
	display: flex;
    justify-content: center;
	align-items: center;
	text-align: center;
	padding: 4em 0em;
	box-sizing: border-box;
}

.landing h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 1em;
}

.landing p {
	font-size: 1.2em;
	margin-bottom: 1em;
}

.landing .btn { margin-top: .5em; }

/* Main App styling */

.app { padding: 4em 0em; }

.app img { width: 100%; }

/* Main App Elements */

.app-container {
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,.175);
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: auto;
	background-color: #fff;
}

.image-wrapper {
	padding-bottom: 0;
	height: 415px;
	background: #8d99ae url() no-repeat center /cover;
}

.content-wrapper {
	padding: 2em;
	box-sizing: border-box;
}

img { background-color: #8d99ae; transition: all .5s ease; }

#quote {
	margin: 0;
	padding: 0;
}

#name {
	margin-top: 1em;
	padding-top: 0;
}

p { margin-bottom: 0; padding-bottom: 0; }

.quoteIcon {
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 900;
	font-size: 14em;
	line-height: 0;
	padding: 0;
	margin: -5% 0 0;
	opacity: .15;
	position: absolute;
	top: 50%;
	left: 40px;
}

.controls {
	position: absolute;
	bottom: 0;
	left: 40%;
	transform: translateX(-50%);
}

.controls .next,
.controls .prev {
	padding: 1.75em 2em;
	color: #fff;
	display: inline-block;
	float: left;
	cursor: pointer;
	transition: all .4s ease;
}

@media (min-width: 768px) {
	.image-wrapper {
		width: 40%;
		padding-bottom: 55%;
		height: auto;
	}

	.content-wrapper {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		padding: 4em;
	}
}
@media (max-width: 767px) {

	/* header */
	.logo-text { font-size: .9em; }

	/* Landing Page */
	.landing { height: calc(100vh - 52px);}

	/* App styling */
	.controls { left: inherit; right: 0; transform: none; }

	.content-wrapper { position: relative; overflow: hidden; }

	.quoteIcon {
		top: 145px;
		left: 10px;
	}
}